USE [master]
GO
/****** Object:  Database [CanToolApp]    Script Date: 2017/10/18 18:18:54 ******/
CREATE DATABASE [CanToolApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CanToolApp', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CanToolApp.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CanToolApp_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CanToolApp_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CanToolApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CanToolApp]
GO
/****** Object:  Table [dbo].[CanMessage]    Script Date: 2017/10/18 18:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CanMessage](
	[BO_] [char](32) NOT NULL,
	[ID] [int] NOT NULL,
	[MessageName] [char](32) NOT NULL,
	[Separator] [char](1) NOT NULL,
	[DLC] [char](10) NOT NULL,
	[NodeName] [char](32) NOT NULL,
 CONSTRAINT [PK_CanMessage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CanSignal]    Script Date: 2017/10/18 18:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CanSignal](
	[SG_] [char](32) NULL,
	[SignalName] [char](32) NOT NULL,
	[ID] [int] NOT NULL,
	[Separetor] [char](1) NULL,
	[OriginAndLenth] [char](10) NULL,
	[A] [float] NULL,
	[B] [float] NULL,
	[C] [float] NULL,
	[D] [float] NULL,
	[PhysicsCell] [char](32) NULL,
	[NodeName] [char](255) NULL,
 CONSTRAINT [PK__CanSigna__8B59C27487E8151B] PRIMARY KEY CLUSTERED 
(
	[SignalName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CanMessage] ([BO_], [ID], [MessageName], [Separator], [DLC], [NodeName]) VALUES (N'BO_                             ', 61, N'CDU_4                           ', N':', N'8         ', N'CDU                             ')
INSERT [dbo].[CanMessage] ([BO_], [ID], [MessageName], [Separator], [DLC], [NodeName]) VALUES (N'BO_                             ', 729, N'BCM_BCAN_1                      ', N':', N'8         ', N'CDU                             ')
INSERT [dbo].[CanMessage] ([BO_], [ID], [MessageName], [Separator], [DLC], [NodeName]) VALUES (N'BO_                             ', 797, N'HAVC_3                          ', N':', N'8         ', N'HAVC                            ')
INSERT [dbo].[CanSignal] ([SG_], [SignalName], [ID], [Separetor], [OriginAndLenth], [A], [B], [C], [D], [PhysicsCell], [NodeName]) VALUES (N'SG_                             ', N'BCM_KeySt                       ', 729, N':', N'1|2@0+    ', 1, 0, 1, 3, N'""                              ', N'PEPS,ICM，AVM,CDU_HAVC                                                                                                                                                                                                                                         ')
INSERT [dbo].[CanSignal] ([SG_], [SignalName], [ID], [Separetor], [OriginAndLenth], [A], [B], [C], [D], [PhysicsCell], [NodeName]) VALUES (N'SG_                             ', N'BCM_NMAlive                     ', 1056, N':', N'8|1@0+    ', 1, 0, 0, 1, N'""                              ', N'BCM,PEPS,ICM,CDU                                                                                                                                                                                                                                               ')
INSERT [dbo].[CanSignal] ([SG_], [SignalName], [ID], [Separetor], [OriginAndLenth], [A], [B], [C], [D], [PhysicsCell], [NodeName]) VALUES (N'SG_                             ', N'BCM_NMDataField                 ', 1056, N':', N'31|40@0+  ', 1, 0, 0, 1, N'""                              ', N'BCM,PEPS,ICM,CDU                                                                                                                                                                                                                                               ')
GO
ALTER TABLE [dbo].[CanSignal]  WITH CHECK ADD  CONSTRAINT [FK_CanSignal_CanMessage] FOREIGN KEY([ID])
REFERENCES [dbo].[CanMessage] ([ID])
GO
ALTER TABLE [dbo].[CanSignal] CHECK CONSTRAINT [FK_CanSignal_CanMessage]
GO
USE [master]
GO
